@media (max-width: 1199px) {

    .content .row h2{
        text-align: center;
    }

    .content .product-list {
        justify-content: center;
    }
}


@media (max-width: 630px) {

    .product_box {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 50px;
    }

    .product_box img {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;

    }

    .product_box .product_detail {
        text-align: center;

    }

    .product_box .product_detail .price {
        margin-bottom: 30px;

    }
}

